

  <footer class="footer has-background-success">
      <div class="content has-text-centered has-text-white">
        <h1>EcoCleanJa</h1>
        <div class="columns">
          <div class="column">
            <h6>About Us</h6>
            <p class="has-text-center"> A young, vibrant team with the stong desire to live in a cleaner environment and who have been empowered to make it happen.
            </p>
          </div>
          <div class="column">
            <h6>Affilates</h6>
            <ul>
              <li><a href="#">"Nuh Dutty up Jamaica"</a></li>
              <li><a href="#">Ministry of Local Government</a></li>
              <li><a href="#">National Solid Waste Management Authority (NSWMA)</a></li>
              <li><a href="#">Garbage Disposal & Sanitation Systems Ltd.</a></li>
            </ul>
          </div>
          <div class="column">
            <h6>Our Presence</h6>
            <ul>
              <li><a href="#">Calendar of events</a></li>
              <li><a href="#">Commumity based activities</a></li>

            </ul>
          </div>
          <div class="column">
            <h6>Stay in the loop</h6>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium" type="email" placeholder="Email">
              <span class="icon is-left">
              <i class="fa fa-envelope"></i>
              </span>
            </div>
            <a class="button is-success is-rounded">Subscribe</a>
          </div>
        </div>
      </div>
    </footer>
    <div class="has-background-success has-text-white bottom mt-4">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column">
            <p>EcoCleanJa 2021</p>
          </div>
          <div class="column has-text-right">
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-twitter-square"></i>
            <i class="fa fa-google-plus-square"></i>
            <i class="fa fa-linkedin-square"></i>
          </div>
        </div>
      </div>
    </div>


