<%= render 'navbar' %>

<section class="hero is-success is-fullheight-with-navbar mb-4">
  <div class="hero-body">
    <p class="title is-1">
      Visit The Playstore or Appstore to Download the EcoCleanJa App!
    </p>
  </div>
</section>


<%= render 'footer' %>