<%= render 'navbar' %>

<section>
<p class="title is-2 has-text-centered"> Project Timeline</p>
</section>

<section>
<div class="container is-fluid">
  <figure class="image is-16by9">
    <iframe class="has-ratio"  src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQYZs4HU4yc_WxqgT8U7YzI0E8TVbRg_vzj8WqpKtMzMHye_78WqpmYKN48EjFzmNhrXNCpOO_WqMk6/pubhtml?widget=true&amp;headers=false"></iframe>
  </figure>
</div>


</section>

<%= render 'footer' %>